body {
    background-color: rgb(0, 183, 255);
    @media (min-width: 768px) 
    

}

#section2 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#carousel-image-container {
    display: flex;
    align-items: center;
}
.imgCls{
    display: none;
}
.imgCls img{ 
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.current-slide {
    display: block;
}